<div class="container my-4">
    <main>
        <form [formGroup]="regForm" (ngSubmit)="submit()" class="was-validated">
            <div class="py-5 text-center">
                <h2>Add Candidate</h2>
            </div>

            <div class="row g-5">
                <div class="col-md-7 col-lg-8 ms-auto me-auto ">
                    <h4 class="mb-3">Basic Info</h4>
                    <div class="row  mx-3 mt-3 form-control">
                        <div class="col-12">
                            <div class="">
                                <label class="form-label">First name</label>
                                <input type="text" formControlName="firstName" class="form-control" required>
                                <small *ngIf="regForm.get('firstName')?.touched && regForm.get('firstName')?.invalid"
                                    class="text-danger">First Name is required..</small>
                            </div>
                        </div>



                        <div class=" col-12">
                            <label class="form-label">Gender</label>
                            <div class="">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" formControlName="gender" name="gender" value="male"
                                        type="radio" required>
                                    <label class="form-check-label">Mens</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" formControlName="gender" name="gender"
                                        value="female" type="radio" required>
                                    <label class="form-check-label">Womens</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Country</label>
                                <select class="form-select" formControlName="country" required>
                                    <option value="">Choose...</option>
                                    <option>India</option>
                                    <option>United States</option>
                                </select>
                                <small *ngIf="regForm.get('country')?.touched && regForm.get('country')?.invalid"
                                    class="text-danger">Country is required..</small>

                            </div>
                        </div>


                    </div>
                    <hr class="my-4">
                    <h4 class="mb-3">Enter team Members</h4>
                    <div class="row gy-3">
                        <div class="col-12">
                            <div formArrayName="experience">
                                <div class="card mx-3 mt-3" *ngFor="let ex of exp().controls;index as i">
                                    <div class="card-body">
                                        <h6 class="card-title text-muted mb-3">
                                            Player {{i+1}}
                                            <a (click)="removeexperience(i)"
                                                class="float-end text-danger fw-normal">Remove</a>
                                        </h6>
                                        <div class="row g-3" [formGroupName]="i">
                                            <div class="col-6">
                                                <label class="form-label">Player Name</label>
                                                <input type="text" formControlName="playerName" class="form-control"
                                                    required>
                                                <small
                                                    *ngIf="ex.get('playerName')?.touched  && regForm.get('playerName')?.invalid"
                                                    class="text-danger">Player Name name is required ..</small>

                                            </div>


                                            <div class="col-6">
                                                <label class="form-label">Age</label>
                                                <input type="number" formControlName="age" class="form-control"
                                                    required>
                                                <small
                                                    *ngIf="ex.get('age')?.touched && regForm.get('age')?.invalid"
                                                    class="text-danger">Age is required ..</small>

                                            </div>
                                            <div class="col-12">
                                                <label class="form-label">Bio of Player </label>
                                                <textarea class="form-control" formControlName="bio"
                                                    required></textarea>
                                                <small
                                                    *ngIf="ex.get('boi')?.touched  && regForm.get('bio')?.invalid"
                                                    class="text-danger">bio is required ..</small>

                                            </div>

                                            <div class="row g-3">
                                                <div class="col-12">
                                                  <label class="form-label">
                                                    Choose your skills
                                                    <span class="small text-muted">(min 3 skills)</span>
                                                  </label>
                                                  <div class="mb-3">
                                                    <div class="form-check form-check-inline" *ngFor="let skill of mySkills;index as j">
                                                      <input class="form-check-input" formArrayName="skill" value="{{skill}}" type="checkbox" (change)="changecheck($event,i,j)"  [required]="(this.exp().at(i).get('skill')?.value == 0)">
                                                      <label class="form-check-label">{{skill}}</label>
                                                    </div>
                                                  <small *ngIf="(this.exp().at(i).get('skill')?.value == 0)" class="text-danger">skills are required..</small>
                                                  </div>
                                                </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a class="d-block mt-3" (click)="addExperience()">Add more experience</a>
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="btn btn-primary" [disabled]="regForm.invalid" type="submit">Save Candidate</button>
                </div>
            </div>
        </form>
    </main>
</div>